@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}

body {
    Width: 1440px;
    margin:auto;
}

#blog {
    height: 2080px;
    background: 
		linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), 
		url(images/background.png);
    background-size: cover;
    padding-left: 320px;
    padding-right: 320px;
}

#logo {
    padding-top: 60px;
    margin-left: 312px;
    margin-right: 312px;
    height: 40px;
    width: 176px;
}

#nav {
    display: flex;
    margin-top: 52px;
    margin-left: 116px;
    margin-bottom: 74px;
    height: 14px;
}

#nav a {
    display: block;
    margin-right: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

#post, #post1, #post2, #post3 {
    width: 800px;
    height: 510px;
    background-color: #FFFFFF;
}

.photo {
    width: 800px;
    height: 330px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.user_pic {
    margin-top: 160px;
    margin-left: 60px;
}

.user_name {
    height: 19px;
    margin-top: 160px;
    margin-bottom: 0px;
    margin-left: 14px;
    margin-right: 500px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
}

.post_date {
    margin-top: 0px;
    height: 19px;
    margin-bottom: 128px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
}

.title {
    margin-left: 60px;
    width: 470px;
    height: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
}


.about {
    height: 180px;
    background-color: #FFFFFF;
}

.article {
    margin-top: 36px;
    margin-left: 60px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: #333333;
}

.link {
    margin-left: 60px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #8D4FDB;
}


#read_more{
    
    width: 800px;
    height: 211px;
    background-color: #F1F1F1;
    padding-top: 49px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

#read_more h1 {
    font-family: 'Montserrat';
    font-style: normal;
}

#button1 {
    width: 182px;
    height: 45px;
    background-color: #8D4FDB;
    border: none;
    border-radius: 3px;
}

#feat {
    height: 678px;
    background-color: #FFFFFF;
}

#feat > h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 85px;
    height: 40px;
}

#feat > h2 {
    font-family: 'Lato';
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    color: #A9AFB3;
    margin-top: 25px;
}

#feat > h3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 90px;
}

#feat > a {
    color: #8D4FDB;
    text-decoration: none;
}

.container {
    display: flex;
    width: 940px;
    height: 295px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 56px;
}

.minipost {
    width: 300px;
    margin-left: 5px;
    margin-right: 5px;
    height: 269px;
    flex-basis: 33%;
    height: 295px;
}

.m_photo {
    width: 300px;
    height: 190px;
    display: flex;
    align-content: stretch;
}

.m_user_pic {
    margin-top: 131px;
    margin-left: 24px;
}

.m_title {
    width: 300px;
    height: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.m_user_name {
    margin-top: 133px;
    margin-left: 8px;
    height: 19px;
    margin-bottom: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.m_about {
    width: 300px;
    height: 86px;
    background-color: #FFFFFF;
}

footer {
    padding-top: 55px;
    height: 166px;
    background-color: #000000;
    color: #8B8B8B;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

footer a {
    color: #8D4FDB;
    text-decoration: none;
}
